    <div class="container_small-card">

        <div class="container_small-card-content">
            <div class="small-card_photo">
                <img 
                src="https://img.freepik.com/fotos-gratis/codificacao-de-programa-de-computador-na-tela_53876-138060.jpg?size=626&ext=jpg&ga=GA1.1.1728196830.1697739363&semt=ais" 
                alt=""
                srcset="">        
            </div>
            
            <div class="small-card_title">
                <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum eget est vitae dignissim. Curabitur nec mi tristique, pretium ligula vel, condimentum magna. Vivamus feugiat porta elit, vitae dignissim magna venenatis eget.</a></h1>
            </div>   

        </div>  
        <div class="small-card_separator">
            <hr/>
        </div>
   </div>